<div class="container-fluid" style="width:100%; padding:0px 0px 0px 0px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>FJF Golfers ({{ filtered.length }})</h1>
        </div>
    </div>

    <div class="row" style="padding-bottom:10px;">
        <div class="form-inline">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <input type="text" class="form-control" placeholder="Search FJF Golfers" ng-model="tournamentFilter" />
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 text-right">
                <a class="btn btn-primary btn-sm" role="button" ng-click="saveTournamentRoundsClick(tournament)">Save</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-bordered table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th ng-click="sortBy='LastName';reverse=!reverse" class="text-left" style="width:20%;"><span class="btn btn-link">Golfer Name</span></th>
                        <th class="text-center" style="width:10%;"><span class="btn btn-link">Hcp.</span></th>
                        <th class="text-center" style="width:10%;"><span class="btn btn-link">Sr. Hcp.</span></th>
                        <th class="text-center"><span class="btn btn-link">Rd1</span></th>
                        <th class="text-center"><span class="btn btn-link">Rd2</span></th>
                        <th class="text-center"><span class="btn btn-link">Rd3</span></th>
                        <th class="text-center"><span class="btn btn-link">Rd4</span></th>
                    </tr>
                </thead>
                <tr data-ng-repeat="round in rounds | filter:roundFilter | orderBy:sortBy:reverse as filtered">

                    <td><a class="btn btn-link" role="button" href="edit-golfer/{{ round.GolferId }}">{{round.LastName}}, {{round.FirstName}}</a></td>
                    <td class="text-center">{{round.Handicap}}</td>
                    <td class="text-center">{{round.Sr_Handicap}}</td>
                    <td class="text-center"><input type="text" class="form-control" placeholder="Rd1 Score" ng-model="round.Round1_Gross" /></td>
                    <td class="text-center"><input type="text" class="form-control" placeholder="Rd2 Score" ng-model="round.Round2_Gross" /></td>
                    <td class="text-center"><input type="text" class="form-control" placeholder="Rd3 Score" ng-model="round.Round3_Gross" /></td>
                    <td class="text-center"><input type="text" class="form-control" placeholder="Rd4 Score" ng-model="round.Round4_Gross" /></td>
                </tr>
            </table>

        </div>
    </div>

</div>
